<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link th:href="@{/css/index.css}" type="text/css" rel="stylesheet">
    <img th:src="@{images/banner.jpg}" width="1400px">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
<div class="authen">
<h3>Регистрация</h3>
<form method="post" th:action="@{/registration}" th:object="${person}">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    <label for="login">Введите логин: </label>
    <input type="text" class="input-wrapper"  th:field="*{login}" id="login">
    <div style="color: red" th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></div>
    <br>
    <br>
    <label for="password">Введите пароль: </label>
    <input type="password" class="input-wrapper" th:field="*{password}" id="password">
    <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
    <br>
    <br>
    <input type="submit" class="btn btn-outline-success" value="Зарегистрироваться">
</form>
<a class="btn btn-outline-primary"  href="/authentication">Вход</a>
</div>
</body>
</html>